<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @user.avatar != '' %>
    <td><%= cl_image_tag(@user.avatar, :crop => :fill, :width => 120, :height => 80) %></td>
  <% else %>
    <td><%= cl_image_tag("samples/cloudinary-icon.png", :height => 110, :crop => "scale") %></td>
  <% end %>

</p>

<p>
  <strong>Status:</strong>
  <%= @user.active %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
