<%= form_with(model: post, local: true) do |form| %>

 <div class="field control">
    <%= form.label :category_id, class:'label'%>
    <%= form.select :category_id, options_for_select(@cats.collect{|x| [x.name, x.id]}) %>
  </div>

  <div class="field control">
    <%= form.label :title, class:'label'%>
      <%= form.text_field :title, class: 'is-primary', placeholder: "More than two characters "  %>
  </div>

  <div class="field control">
    <%= form.label :body, class:'label'%>
    <%= form.text_area :body, rows:'10', class: 'is-primary', placeholder: "More than two characters "%>
  </div>

  <div class="actions control">
    <%= form.submit class:'button is-success' %>
  </div>

<% end %>
