<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>

  <%= Category.find_by_id(@result[:model].category_id).name %>
</p>

<p>
  <strong>Title:</strong>

  <%= @result[:model].title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @result[:model].body %>
</p>

<%= link_to 'Edit', edit_post_path(@result[:model]) %> |
<%= link_to 'Back', posts_path %>
