<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>

  <%= Category.find_by_id(@result.category_id).name %>
</p>

<p>
  <strong>Title:</strong>

  <%= @result.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @result.body %>
</p>

<%= link_to 'Edit', edit_post_path(@result) %> |
<%= link_to 'Back', posts_path %>
