<!DOCTYPE html>
<html>
  <head>
    <title>Dock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts/new">Create (with TRB)</a></li>
    <li><a href="/posts/">Read</a></li>
    <li><a href="http://www..../news">Update</a></li>
    <li><a href="http://www..../contact">Delete</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
