<!DOCTYPE html>
<html>
  <head>
    <title>Dock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p id="notice"><%= notice %></p>
    <section class="section">
      <div class="container">
          <ul>
            <li><a href="/login/">Login</a></li>
            <li><a href="/users/">Users</a></li>
            <li><a href="/">Posts</a></li>
            <li><a href="/categories/">Categories</a></li>
            <% if session[:user_id] %>
                <li>User <%= session[:user_nickname] %></li>
                <li><%= button_to 'Logout', logout_path, method: :delete %></li>
            <% end %>
          </ul>
            <%= yield %>
      </div>
    </section>
  </body>
</html>
